/* style for customer accounts */
@font-face {
  font-family: Market_Deco;
  src: url(../font/Market_Deco.ttf);
}
@font-face {
  font-family: cambria;
  src: url(../font/cambria.ttf);
}

/* Color Scheme */
:root {
--Teal:rgb(13, 99, 134);
--SeaGreen: rgb(32, 136, 141);
--DarkGreen: rgb(34, 69, 77);
--Steel: rgb(61, 61, 61);
--LightBlue: rgb(131, 182, 219);
--Red: rgb(192, 17, 43);
}
/* Reset */
body, html, ul, li{
  margin: 0px;
  padding: 0px;
}
h1,h2,h3,h4,h5,h6{
  margin: 0.1em;
  text-align: left;
}
ul{
  list-style-type: none;
  margin: 0;
  display: inline-block;
}

/* general */
body {
  margin: 0;
  padding: 0;
  color: rgb(255,255,255);
  /* font family */
  font-family: cambria, Helvetica, Arial, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: rgb(37, 45, 73);
}
a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
p {
  font-family: cambria, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h1{font-size: 5vh;}
h1,h2,h3,h4,h5{font-family: Market_Deco, Helvetica, Arial, sans-serif;}
h2{
  padding: 10px;
  width: auto;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  justify-content: center;
  text-align: center;
  background: var(--LightBlue);
  border: none;
  border-radius: 5px;
}
h2 a{
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
ul{
  list-style-type: none;
  padding: 10px;
  margin: 0;
}
li{
  line-height: 2;
}
.emphasis{font-size: 2.75vh;}
.spacer{padding: 78px;}
.editIcon{float: right; font-size: 2rem; margin: 5px;}
.editIcon a{color: var(--Red);}
i {
  margin-right: 10px;
}

/* page header */
header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: 100%;
  height: 15vh;
  font-size: 2vh;
  justify-content: center;
  margin-bottom: 4vh;
}
header img{
  width: 10vw;
  height: auto;
  padding: 10px;
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.25));
  float: left;
}
.BackButton{
  float: right;
}
.CoName{ 
  font-family: Market_Deco, Helvetica, Arial, sans-serif;
  font-size: 10vh;
  color: rgb(255,255,255);
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.25));
}

.CheckoutFormContainer {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.CheckoutFormContainer > div {
	width: 50%;
	padding: 10px;
}

.creditCardForm{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 35vw;
  height: auto;
  margin: auto;
  justify-content: center;
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.25));
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.25));
}
.creditCardForm div{
  margin: 5px auto;
  display: inline-block;
}

.Total{
  margin-bottom: 15px;
}

.table-responsive{
  border-radius: 5px;
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  padding: 10px;
  margin-bottom: 20px;
}
.packagecolumns{
  background-color:rgb(255,255,255);
  border-radius:5px;
  padding:16px;
  margin-bottom: 10px;
}
/* Input Boxes for forms */
input, input[type="textarea"]{
  padding: 12px;
  font-size: 16px;
  margin: 5px;
  width: auto;
  border: none;
  background-color: rgba(255,255,255,0.75);
  border-bottom: 1px solid rgb(139, 139, 139);
}
input:focus{
  background-color: rgba(235, 243, 123, 0.75);
}

/* Registration Containers */
.inputCard, .InfoContainer{
  height: auto;
  margin: auto;
  justify-content: center;
}

.btn {
  padding: 10px;
  width: 10vw;
  height: 5vh;
  font-size: 15px;
  color: rgb(0,0,0);
  justify-content: center;
  text-align: center;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0,0,0);
  border-radius: 5px;
  margin-top: 10px;
}
.btn:hover {
  background-color: var(--Teal); /* Green */
  color: rgb(255,255,255);
}

.chkbtn {
  padding: 10px;
  width: 10vw;
  height: 5vh;
  font-size: 15px;
  color: rgb(0,0,0);
  justify-content: center;
  text-align: center;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0,0,0);
  border-radius: 5px;
  margin-top: 10px;
  float: right;
}
.chkbtn:hover {
  background-color: var(--Teal); /* Green */
  color: rgb(255,255,255);
}


/* Log Out Button */
.BackButton{
  float: right;
  position:absolute;
  top:0;
  right:0;
  margin: 10px;
  padding: 10px;
  font-size: 3vh;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.25));
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.25));

  transition: 0.3s;
}
.BackButton a{
  color: var(--Red);
}
.BackButton a:hover{
  color: rgb(255,255,255);
}
.BackButton:hover{
  background-color: var(--Red);
}

.error {
  width: 90vw;
  height: auto; 
  margin: auto;
  padding: 10px; 
  border: 1px solid rgb(169, 68, 66); 
  color: rgb(169, 68, 66); 
  background: rgb(242, 222, 222); 
  border-radius: 5px; 
  text-align: center;
}
.success {
  color: rgb(60, 118, 61); 
  background: var(--SeaGreen);
  border: 1px solid rgb(60, 118, 61);
  margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
  /* tablets - laptops */  
  
  .CoName{ 
    font-family: Market_Deco, Helvetica, Arial, sans-serif;
    font-size: 8vh;
    color: rgb(255,255,255);
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.25));
  }
  
    /* Login Containers */
    .login-container{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: flex-start;
      width: 50vw;
      height: auto;
      margin: auto;
      background-color: rgb(255,255,255);
      justify-content: center;
      -webkit-filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.25));
      filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.25));
    }
    .login-container div{
      margin: 5px auto;
    }
    .loginBody{
      background-image: none;
    }
  
  /* Registration Containers */
  .registration-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    width: 40vw;
    height: auto;
    margin: auto;
    justify-content: center;
    -webkit-filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.25));
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.25));
  }
  .registration-container div{
    margin: 5px auto;
    display: inline-block;
  }
  
    /* AccountPage Layout */
    .AccountPage{
      min-height: 100%;
      display: flex;
      width: auto;
      flex-wrap: wrap;
      flex-direction: column;
      height: auto;
      margin: auto;
      justify-content: center;
    }
    .AccountPage > div {
      width: 90vw;
      height: auto;
      margin-bottom: 8vh;
      justify-content: justify;
      text-align: justify;
      background-color: rgb(255,255,255);
      margin: 2vh auto;
      border-radius: 5px;
      -webkit-filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.25));
      filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.25));
    }
    .AccountPage p{
      line-height: 1.90;
    }
  
    .btn {
      padding: 10px;
      width: 15vw;
      height: auto;
      font-size: 15px;
      color: rgb(255, 255, 255);
      justify-content: center;
      text-align: center;
      background: var(--SeaGreen);
      border: none;
      border-radius: 5px;
      margin: 10px;
    }
    button, .btn a{
    color: rgb(255,255,255);
    }
    /* Log Out Button */
    .BackButton{
      float: right;
      position:absolute;
      top:0;
      right:0;
      margin: 10px;
      padding: 10px;
      font-size: 3vh;
      color: rgb(255,255,255);
      border-radius: 5px;
      -webkit-filter: none;
      filter: none;
      transition: 0.3s;
      background-color: var(--Red);
    }
    .BackButton a{
      color: var(--Red);
    }
    .BackButton a:hover{
      color: rgb(255,255,255);
    }
    .BackButton:hover{
      background-color: none;
    }
  }
  
  
  @media only screen and (max-width: 600px) {
    /*phones*/
  
    header{
      background: none;
    }
    header img{
      height: 100px;
      padding: 10px;
      filter: none;
    }
  
      /* Login Containers */
    .login-container{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: flex-start;
      width: auto;
      height: 100%;
      margin: auto;
      background-color: rgb(255,255,255);
      justify-content: center;
      -webkit-filter: none;
      filter: none;
    }
    .login-container div{
      margin: 5px auto;
    }
    .loginBody{
      background-image: none;
    }
  
    /* Registration Containers */
    .registration-container{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: flex-start;
      width: auto;
      height: auto;
      margin: auto;
      background-color: rgb(255,255,255);
      justify-content: center;
      -webkit-filter: none;
      filter: none;
    }
    .registration-container div{
      margin: 5px auto;
      display: inline-block;
    }
  
    /* AccountPage Layout */
    .AccountPage{
      min-height: 100%;
      display: flex;
      width: auto;
      flex-wrap: wrap;
      flex-direction: column;
      height: auto;
      margin: auto;
      justify-content: center;
    }
    .AccountPage > div {
      width: 90vw;
      height: auto;
      margin-bottom: 8vh;
      justify-content: justify;
      text-align: justify;
      background-color: rgb(255,255,255);
      margin: 5px auto;
      border-radius: 5px;
      -webkit-filter: none;
      filter: none;
    }
    .AccountPage p{
      line-height: 1.90;
    }
  
    .btn {
      padding: 10px;
      width: 35vw;
      height: auto;
      font-size: 15px;
      color: rgb(255, 255, 255);
      justify-content: center;
      text-align: center;
      background: var(--SeaGreen);
      border: none;
      border-radius: 5px;
      margin-left: 10px;
    }
    button, .btn a{
      color: rgb(255,255,255);
    }
      /* Log Out Button */
    .BackButton{
      float: right;
      position:absolute;
      top:0;
      right:0;
      margin: 10px;
      padding: 10px;
      font-size: 3vh;
      color: rgb(255,255,255);
      border-radius: 5px;
      -webkit-filter: none;
      filter: none;
      transition: 0.3s;
      background-color: var(--Red);
    }
    .BackButton a{
      color: var(--Red);
    }
    .BackButton a:hover{
      color: rgb(255,255,255);
    }
    .BackButton:hover{
      background-color: none;
    }
  }